body {
    background-color: rgb(247, 247, 247); /*  #e0d6bf #fffaee original color on wireframe*/
}

h2, p, footer {
    font-family: 'Libre Baskerville', serif;
    color:  rgb(0, 0, 94);
}

h1, li, nav a {
    font-family: 'Libre Baskerville', serif;
    color:rgb(247, 247, 247);
    /* transition: all 1s linear; Need to figure out how to stop running during window resizing */
}

a {
    text-decoration: none;
} 

a:active {
    position: relative;
    top: 2px;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color:rgb(0, 0, 94);
    position: fixed;
    top: 0%;
    width: 97%;
    height: 7vw;
    z-index: 1;
}

h1 {
    display: inline;
    position: relative;
    top: 2vw;
    font-size: 2vw;
    margin-left: 5vw;
}

nav {
    font-size: 1.5vw;
    float: right;
    margin-top: 2.5vw;
    margin-right: 5vw;
}

li {
    display: inline;
    padding: 0 2vw;
}

.boarder {
    border-left: 1.5px solid rgb(247, 247, 247);
    border-right: 1.5px solid rgb(247, 247, 247);
    padding: 0 2.5vw;
}

section {
    position: relative;
    top: 7vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.bio {
    position: relative;
    left: -1%;
    height: 320px;
    width: 70vw; 
}

h2 {
    font-size: min(1.65vw, 20px);
    margin-left: 5vw;
}

p {
    font-size: min(1.3vw, 18px);
    margin-left: 5vw;
}

.hyperlinked-icons {
    position: relative;
    Top: 10vw;
    display: flex;
    justify-content: center; 
}

.icon {
    position: relative;
    margin: 0 3vw auto;
}

footer {
    position: relative;
    right: 3vw;
    top: 11vw;
    font-size: 11px;
    text-align: center;
}
